/**
 * 3.0 Basic Structure
 * -----------------------------------------------------------------------------
 */

.mobile{
	display: none;
}

.site {
	background-color: #fff;
	max-width: 1260px;
	position: relative;
}

.main-content {
	width: 100%;
}

/**
 * Slider
 */
div.main-slider
{
	height: 569px;
	background: transparent;
	position:relative;
}

div.main-slider aside
{
	width:    100%;
	height:   569px;
	position: relative;
	overflow: hidden;
}

div.main-slider aside ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}

div.main-slider aside ul li
{
	width:100%;
	height:569px;
	position:absolute;
	top:0px;
	left:0px;
}

div.main-slider figure
{
	margin:0 auto;
	position:relative;
}

div.main-slider img
{
  	display:block;
	position:absolute;
	top:0px;
	right: 0px;
	z-index: 1;
	width: 100%;
}

div.main-slider figcaption{
	color: #13357a;
	display: block;
	float: left;
	font-family: "etelka_narrow_light_proRg";
	font-size: 36px;
	left: 108px;
	line-height: 46px;
	position: relative;
	top: 217px;
	z-index: 3;
}


div.main-slider figcaption strong{
	font-family: 'etelka_narrow_text_probold';
	font-size: 48px;
	font-weight: normal;
}

div.main-slider figcaption .sale{
	position: absolute;
	display: block;
	font-family: 'etelka_narrow_text_proregular';
	font-size: 18px;
	width: 278px;
	height: 43px;
	background: #fff;
	border-radius: 7px;
	right: 0;
	color: black;
	padding: 0 0 0 33px;
	line-height: 43px;
}

div.main-slider figcaption .sale .value{
	padding: 0 40px;
	background: #fae50c;
	font-family: 'etelka_narrow_text_probold';
	font-size: 30px;
	position: absolute;
	right: 0;
	color: #13357a;
	border-radius: 7px;
}

div.main-slider aside ol{
	bottom: 57px;
	left: 108px;
	margin: 0;
	position: absolute;
	z-index: 4;
}

div.main-slider aside ol li{
	display: inline-block;
}

div.main-slider aside ol li a{
	border: 2px solid #fff;
	border-radius: 50%;
	display: block;
	height: 17px;
	text-indent: 1e+9px;
	width: 17px;
	margin: 0 11px 0 0;
	cursor: pointer;
	font-size: 0;
}

div.main-slider aside ol li a.flex-active,
div.main-slider aside ol li a:hover{
	background: #fae50c;
	border-color: #fae50c;
}

/**	
 * Hedaer
 */
.main header{
	position: relative;
	margin: 0;
}

.main header .menu-wrap{
	position: absolute;
	z-index: 5;
	background: url('../images/bg_hedaer.png') no-repeat;
	top: 25px;
	left: 112px;
}

.main header .menu-wrap .logo{
	float: left;
}

.main header .menu-wrap ul.menu{
	float: left;
	list-style: none outside none;
	margin: -10px 0 0 115px;
}

.main header .menu-wrap ul.menu li{
	display: inline-block;
	margin: 0 22px 0 0;
	position: relative;
}

.main header .menu-wrap ul.menu li:hover .sub-menu{
	display: block;
}

.main header .menu-wrap ul.menu li .sub-menu{
	display:none;
	position: absolute;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

.main header .menu-wrap ul.menu li .sub-menu li{
	display: block;
	min-width: 100%;
	margin: 0 0 1px;
	padding: 0;
}

.main header .menu-wrap ul.menu li .sub-menu li a{
	background: #fae50c;
	min-width: 100%;
}

.main header .menu-wrap ul.menu li .sub-menu li a:hover{
	padding: 11px 4px;
	font-family: 'etelka_narrow_text_proregular';
	box-shadow: none;
	background: #f4e010;
}

.main header .menu-wrap ul.menu li a{
	font-family: 'etelka_narrow_text_proregular';
	font-size: 18px;
	font-weight: normal;
	color: black;
	display: block;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 11px 4px;
	text-align: center;

}

.main header .menu-wrap ul.menu li.current-menu-item a,
.main header .menu-wrap ul.menu li a:hover{
	padding: 11px 3.3px;
	font-family: 'etelka_narrow_text_probold';
	font-weight: normal;
	text-decoration:none; 
	box-shadow: 0 4px 0 #fae50c;
}

.main header .menu-wrap ul.menu-lang{
	float: left;
	list-style: none outside none;
	margin: -3px 0 0 16px;
}

.main header .menu-wrap ul.menu-lang li{
	display: inline-block;
}

.main header .menu-wrap ul.menu-lang li a{
	font-family: "etelka_narrow_light_proRg";
	font-size: 14px;
	color: black;
	line-height: 32px;
	height: 32px;
	padding: 0 9px;
	border-radius: 9px;
	display: block;
}

.main header .menu-wrap ul.menu-lang li.active a,
.main header .menu-wrap ul.menu-lang li a:hover{
	background: #fae50c;
}

/**
 * Section
 */
.main section.main-section{
	width: 1275px;
	margin: 40px auto 0 auto;
}

.main section.main-section article.featured{
	display: block;
	float: left;
	width: 625px;
}

.main section.main-section article.featured h1{
	font-family: 'etelka_narrow_text_proregular';
	font-size: 36px;
	font-weight: normal;
	margin: -13px 0 12px 0;
}

.main section.main-section article.featured .subtitle{
	display: block;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	font-family: 'etelka_narrow_text_proregular';
	font-size: 14px;
	font-weight: normal;
	color: #7b7b7b;
	padding: 0 3px;
	line-height: 34px;
	margin: 0 0 28px 0;
}

.main section.main-section article.featured .subtitle .date{
	float: right;
}

.main section.main-section article.featured .featured-holder img.thumbnail{
	float: left;
}

.main section.main-section article.featured .featured-holder{
	min-height: 192px;
	background: #f6f5f5;
	font-size: 18px;
}

.main section.main-section article.featured .featured-holder .txt{
	padding: 29px 25px 19px;
	overflow: hidden;
	line-height: 18px;
}

.main section.main-section .page-content{
	width: 850px;
	float: left;
}

.main section.main-section .page-content h1.page-title{
	font-family: 'etelka_narrow_text_proregular';
	font-size: 36px;
	font-weight: normal;
	margin: 0 0 33px 0;
	line-height: 36px;
}

.main section.main-section .page-content .thumbnail{
	margin: 0 0 44px 0;
}

/**	
 * Widgets
 */

.widget-promo-small figure{
	display: block;
	float: left;
	height: 306px;
	position: relative;
	width: 301px;
	margin: 0 0 0 25px;
}

.widget-promo-small figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	padding: 40px 24px;
}

.widget-promo-small figure figcaption h1{
	font-family: "etelka_narrow_text_proregular";
	font-size: 36px;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
	line-height: 36px;
}

.widget-promo-small figure a.promo-button{
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #fff;
	bottom: 35px;
	color: white;
	display: block;
	float: left;
	height: 40px;
	left: 30px;
	line-height: 40px;
	padding: 0 19px 0 23px;
	position: absolute;
}

.widget-promo-small figure a.promo-button:hover{
	background: #fff;
	color: black;
}


.widget-promo-big{
	position: relative;
}

.widget-promo-big figure{
	background: none repeat scroll 0 0 #f2f2f2;
	display: block;
	float: left;
	padding: 38px 0;
	position: relative;
	width: 100%;
}

.widget-promo-big figure img{
	box-shadow: 0 0 5px #000;
}

.widget-promo-big figure figcaption{
	color: white;
	left: 0;
	margin: 83px 0 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

.widget-promo-big figure figcaption h1{
	font-family: 'etelka_narrow_text_probold';
	font-size: 72px;
	font-weight: normal;
	margin: 0;
	line-height: 72px;
}

.widget-promo-big figure figcaption span.description{
	display: block;
	font-family: "etelka_narrow_light_proRg";
	font-size: 36px;
	font-weight: normal;
	margin: 36px 0 0;
	line-height: 36px;
}

.widget-promo-big figure a.promo-button{
	background: none repeat scroll 0 0 transparent;
	border: 2px solid #fff;
	bottom: 114px;
	color: white;
	display: block;
	float: left;
	font-family: "etelka_narrow_text_probold";
	font-size: 18px;
	height: 44px;
	left: 50%;
	line-height: 44px;
	margin: 0 0 0 -135px;
	padding: 0 71px;
	position: absolute;
}

.widget-promo-big figure a.promo-button:hover{
	background: #fff;
	color: black;
}


.widget-promo-image{
	display: block;
	float: left;
	height: 306px;
	position: relative;
	width: 301px;
	margin: 0 0 0 23px;
}

.widget-we-offer{
	border: 1px solid #f1f1f1;
	box-sizing: border-box;
	float: left;
	margin: 16px 0 0;
	padding: 37px 43px;
	width: 100%;
}

.widget-we-offer h1{
	margin: 0;
	font-family: "etelka_narrow_text_proregular";
	font-size: 36px;
	font-weight: normal;
}

.widget-we-offer ul{
	width: 50%;
	float: left;
	margin: 0;
	box-sizing: border-box;
	padding: 0 0 0 25px;
	list-style: none;
}

.widget-we-offer ul li{
	font-size: 24px;
	line-height: 36px;
	position: relative;
}

.widget-we-offer ul li:before{
	background: url("../images/li_square.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	height: 7px;
	left: -25px;
	position: absolute;
	top: 11px;
	width: 8px;
}

.widget-testimonials{
	float: left;
}
.widget-testimonials h1{
	color: #ff8c0b;
	font-family: "etelka_narrow_text_probold";
	font-size: 48px;
	font-weight: normal;
	margin: 36px 0 32px;
	text-align: center;
	text-transform: uppercase;
}

.widget-testimonials ul{
	width: 100%;
	margin: 0;
}

.widget-testimonials ul li{
	display: block;
	float: left;
	margin: 0 0 0 37px;
}

.widget-testimonials ul li:first-child{
	margin: 0 0 0 20px;
}

.widget-testimonials ul li .description{
	background: url("../images/bg_testimonial.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 385px;
	width: 280px;
	padding: 19px;
	box-sizing: border-box;
	color: #296588;
	font-size: 24px;
	font-family: "etelka_narrow_light_proRg";
	line-height: 24px;
}

.widget-testimonials ul li .author{
	margin: 0 0 0 13px;
}

.widget-testimonials ul li .author figcaption{
	float: left;
	margin: 0 0 0 20px;
}

.widget-testimonials ul li .author figcaption span.name{
	font-family: "etelka_narrow_light_proRg";
	font-size: 24px;
	line-height: 24px;
}	

.widget-testimonials ul li .author figcaption small.date{
	font-family: "etelka_narrow_light_proRg";
	font-size: 14px;
	color: #b1b1b1;
	display: block;
}

.widget-testimonials ul li .author img{
	border-radius: 50%;
	float: left;
}

.widget-testimonial-videos{
	float: left;
	margin: 91px 0 0;
	width: 100%;
}

.widget-testimonial-videos nav{
	margin: 0 0 23px 0;
}

.widget-testimonial-videos nav ul{
	margin: 0;
	text-align: center;
}

.widget-testimonial-videos nav ul li{
	display: inline-block;
}

.widget-testimonial-videos nav ul li a{
	border: 1px solid #ffc000;
	color: #000;
	display: block;
	font-family: "etelka_narrow_light_proRg";
	font-size: 24px;
	height: 58px;
	line-height: 58px;
	margin: 0 0 0 44px;
	width: 276px;
	position: relative;
}

.widget-testimonial-videos nav ul li.active a,
.widget-testimonial-videos nav ul li a:hover{
	color: #fff;
	background: #ffc000;
}

.widget-testimonial-videos nav ul li.active a:active:after,
.widget-testimonial-videos nav ul li.active a:after,
.widget-testimonial-videos nav ul li a:hover:after,
.widget-testimonial-videos nav ul li a:active:after{
	background: url("../images/arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	bottom: -13px;
	content: "";
	height: 13px;
	position: absolute;
	width: 26px;
	left: 124px;
}

.widget-testimonial-videos .videoblock{
	float: left;
	width: 100%;
}

.widget-testimonial-videos .videoblock ul{
	margin: 24px 0 0 0;
	list-style: none;
}

.widget-testimonial-videos .videoblock ul li{
	display: inline-block;
	margin: 0 0 0 23px;
}

.widget-testimonial-videos .videoblock ul li:first-child{
	margin: 0;
}

.sidebar-bottom-left{
	width: 943px;
	overflow: hidden;
	float: left;
	margin: 84px 0 0 0;
}

.sidebar-bottom-right{
	overflow: hidden;
	float: right;
	margin: 84px 0 0 0;
}

.widget-wnzh{
	background: url("../images/wnzh.jpg") no-repeat scroll 0 0 / cover  rgba(0, 0, 0, 0);
	color: #296588;
	float: left;
	font-family: "etelka_narrow_text_proregular";
	font-size: 22px;
	font-weight: normal;
	padding: 25px 31px 29px;
	line-height: 24px;
}

.widget-wnzh ul{
	margin: 0;
	list-style: none;
}

.widget-wnzh b{
	font-family: "etelka_narrow_text_probold";
	font-size: 22px;
	font-weight: normal;
}

.widget-wnzh h1{
	font-family: "etelka_narrow_text_probold";
	font-size: 30px;
	font-weight: normal;
	margin: 0;
}

.zakazat-uslugu{
	background: url('../images/zakazat_uslugu.jpg') no-repeat;
	background-size: cover;
	float: left;
	width: 100%;
	margin: 66px 0 0 0;
	padding: 20px 27px;
	box-sizing: border-box;
}

.zakazat-uslugu .left{
	float: left;
	width: 428px;
}

.zakazat-uslugu .right{
	float: right;
	width: 428px;
}

.zakazat-uslugu select,
.zakazat-uslugu input[type=text]{
	width: 100%;
	height: 43px;
	line-height: 43px;
	border: none;
	border-radius: 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.zakazat-uslugu textarea{
	width: 100%;
	border: none;
	border-radius: 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.zakazat-uslugu input[type=submit]{
	background: none repeat scroll 0 0 #ff890b;
	border-radius: 0;
	color: #fff;
	font-family: "etelka_narrow_text_proregular";
	font-size: 18px;
	font-weight: normal;
	height: 44px;
	line-height: 26px;
	padding: 0 33px;
	text-transform: uppercase;
	float: right;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.zakazat-uslugu .w100{
	float: left;
	width: 100%;
	margin: 25px 0 0 0;
}

.zakazat-uslugu .description{
	color: #969696;
	display: block;
	font-family: "etelka_narrow_text_proregular";
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	margin: 10px 0 0 25px;
	position: relative;
}

.zakazat-uslugu .description:before{
	color: #969696;
	content: "<<";
	font-size: 18px;
	font-weight: normal;
	left: -25px;
	position: absolute;
	top: 10px;
}

div.wpcf7-validation-errors{
	float: left;
}

.zakazat-uslugu span.wpcf7-not-valid-tip {
	background: none repeat scroll 0 0 #fff;
	box-sizing: border-box;
	color: #f00;
	display: block;
	font-size: 1em;
	height: 43px;
	left: 0;
	line-height: 43px;
	padding: 0 5px;
	position: absolute;
	top: -12px;
	width: 100%;
}

.zakazat-uslugu .w100 .w50:first-child{
	float: left;
}

.zakazat-uslugu .w100 .w50{
	float: right;
	width: 200px;
}

.zakazat-uslugu p{
	padding: 0;
	margin: 0;
}

.zakazat-uslugu .selecter{
	width: 100%;
}

.zakazat-uslugu .selecter .selecter-selected {
	background: url("../images/dropdown_arrow.png") no-repeat scroll 170px center #f9f9f9;
	border: medium none;
	border-radius: 0;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	color: #939393;
	cursor: pointer;
	display: block;
	font-size: inherit;
	height: 43px;
	line-height: 43px;
	margin: 0;
	overflow: hidden;
	padding: 0 10px;
	position: relative;
	text-overflow: clip;
	z-index: 2;
}

.zakazat-uslugu .selecter.bottom.open .selecter-options {
	border-radius: 0;
}

.zakazat-uslugu .selecter.bottom .selecter-options {
	border-width: 0;
	bottom: 100%;
	top: auto;
}

.zakazat-uslugu h1.title{
	color: #ff890b;
	font-family: "etelka_narrow_text_probold";
	font-size: 48px;
	font-weight: normal;
	line-height: 40px;
	margin: 12px 0 0;
}

.zakazat-uslugu .subtitle{
	color: #fff;
	font-family: "etelka_narrow_text_proregular";
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	margin: 12px 0 3px;
}

.sidebar-internal-right{
	float: right;
	width: 310px;
}

.sidebar-internal-right .widget{
	margin: 0 0 23px 0; 
	float: right;
}

.sidebar-internal-right .widget iframe{
	margin: 0;
}

/**	
 * Footer
 */

#map-canvas {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 384px;
}

.main footer.main-footer{
	background: url("../images/bg_footer.jpg") no-repeat scroll 0 0 / cover  rgba(0, 0, 0, 0);
	color: #fff;
	float: left;
	height: 384px;
	margin: 81px 0 0;
	text-align: center;
	width: 100%;
	position: relative;
}

.main footer.main-footer h1{
	font-family: "etelka_narrow_text_probold";
	font-size: 48px;
	font-weight: normal;
	left: 50%;
	line-height: 48px;
	margin: 0 0 0 -90px;
	position: absolute;
	text-transform: uppercase;
	top: 46px;
	z-index: 10;
}

.main footer.main-footer .description{
	left: 50%;
	margin: 0 0 0 -440px;
	position: absolute;
	top: 128px;
}

.main footer.main-footer h2{
	font-family: "etelka_narrow_text_proregular";
	font-size: 36px;
	font-weight: normal;
	margin: 0;
	line-height: 46px;
}